<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.mobility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >

        <meta-data
            android:name="TencentMapSDK"
            android:value="Y5IBZ-BRT3F-YIPJQ-NI5UK-VXCD5-DEFAT" />

        <meta-data
            android:name="com.tencent.map.api_key"
            android:value="CHOBZ-RN6RI-CDTGQ-5BL4Y-VL6Q3-WHB3O" />

        <activity android:name=".MainTaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".synchro_v2.driver.HitchHikeDriver"/>

        <activity android:name=".synchro_v2.driver.FastDriver"/>

        <activity android:name=".synchro_v2.driver.DriverNaviActivity"/>

        <activity android:name=".synchro_v2.psg.PsgActivity"/>

        <activity android:name=".search.SearchActivity"/>

        <activity android:name=".synchro_v2.driver.CarpoolingDriver"/>

        <activity android:name=".spot.SpotActivity"/>

        <activity android:name=".spot.PoiSearchActivity"/>

        <activity android:name=".nearbycar.NearbyCarActivity"/>

        <activity android:name=".map.MapList"/>

        <activity android:name=".map.MapCompass"/>

        <activity android:name=".map.MapCompassBySetting"/>

    </application>

</manifest>