<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.mobility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >

        <!-- 导航地图的key-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="xxx" />

        <!-- 司乘同显的key-->
        <meta-data
            android:name="com.tencent.map.ls.api_key"
            android:value="xxx" />

        <!-- 周边运力key-->
        <meta-data
            android:name="com.tencent.map.carpreview.api_key"
            android:value="xxx"
            />

        <!-- 推荐上车点-->
        <meta-data
            android:name="com.tencent.map.recospot.api_key"
            android:value="xxx"
            />

        <activity android:name=".MainTaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".synchro_v2.driver.HitchHikeDriver"/>

        <activity android:name=".synchro_v2.driver.FastDriver"/>

        <activity android:name=".synchro_v2.driver.DriverNaviActivity"/>

        <activity android:name=".synchro_v2.psg.PsgActivity"/>

        <activity android:name=".search.SearchActivity"/>

        <activity android:name=".synchro_v2.driver.CarpoolingDriver"/>

        <activity android:name=".spot.SpotActivity"/>

        <activity android:name=".spot.PoiSearchActivity"/>

        <activity android:name=".nearbycar.NearbyCarActivity"/>

        <activity android:name=".map.MapList"/>

        <activity android:name=".map.MapCompass"/>

        <activity android:name=".map.MapCompassBySetting"/>

    </application>

</manifest>