<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.mobility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="TencentMapSDK"
            android:value="${填入地图KEY}" />
        <meta-data
            android:name="com.tencent.map.api_key"
            android:value="${填入服务KEY}" />

        <activity android:name=".MainTaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".synchro_v2.driver.HitchHikeDriver"/>
        <activity android:name=".synchro_v2.driver.FastDriver"/>
        <activity android:name=".synchro_v2.driver.DriverNaviActivity"/>
        <activity android:name=".synchro_v2.psg.PsgActivity"/>
        <activity android:name=".synchro_v2.psg.PassengerSelectRoutesActivity"/>
        <activity android:name=".synchro_v2.driver.DriverRelayOrderActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".synchro_v2.driver.CarpoolingDriver"/>
        <activity android:name=".spot.SpotActivity"/>
        <activity android:name=".spot.PoiSearchActivity"/>
        <activity android:name=".nearbycar.NearbyCarActivity"/>
    </application>

    <!-- 导航 SDK permission start -->
    <!-- 一键反馈的录音录屏模块 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 需要存储导航和日志文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 定位 SDK permission end -->


    <!-- 定位 SDK permission start -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 定位 SDK permission end -->


    <!-- 腾讯地图 SDK permission start  -->
    <!-- 访问网络获取地图服务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检查网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取日志读取权限，帮助我们提高地图 sdk 稳定性 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 腾讯地图 SDK permission end -->

</manifest>